/* .side-menu{
  display: none;
  list-style-type: none;
  background-color: red;
  background-blend-mode: multiply;
  width: 50%;
}

#role-nav-bar{
  display: block;
  color: whitesmoke;
}

#menu > a{
  border: 1px solid red;
  list-style-type: none;
  text-decoration: none; 
} */
